<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <services>

      <service name="LB5_1.WCFSiplex">
        <endpoint address="" binding="basicHttpBinding" contract="LB5_1.IWCFSiplex">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <endpoint address="" binding="netTcpBinding" contract="LB5_1.IWCFSiplex" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Design_Time_Addresses/LB5_1/Service1/" />
            <add baseAddress="net.tcp://localhost:8736/Design_Time_Addresses/LB5_1/Service1/" />
          </baseAddresses>
        </host>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>